spring:
  datasource:
    url: jdbc:h2:mem:kundli-db
    driver-class-name: org.h2.Driver
    username: sa
    password: ""
server:
    9090

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console
