**/.gradle
**/bin
**/build
**/.settings/*
**/.project
**/.classpath
**/.idea
**/.git
**/.ds
**/.gradlew**

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr
**/out/**
.DS_Store

### Contract Test
**/Compilation
**/Could
**/Task

### JAXB
**/generated/*

**/.java-version

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
